.Lottery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 25px 25px;
    margin: 20px auto;
    width: 55%;
    border-radius: 10px;
}

.Lottery-balls {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}